on:
  push:
    branches:
      - main
  pull_request:

# Always limit to a single concurrency for safe deployments
concurrency: 
  group: single-concurrency

env:
  AWS_DEFAULT_REGION: "ca-central-1"
  AWS_ACCOUNT_ID: 216976011668

# This permission must be set because, by default, the GitHub token created
# for the workflow doesn't have permission to get an ID token.   
permissions:
  id-token: write

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:

      # Checkout this repository
      - name: "Checkout ${{ github.ref }}@${{ github.sha }}"
        uses: actions/checkout@v4

      # Log into AWS if it's a push
      - name: AWS Config
        id: aws-config
        if: github.event_name == 'push'
        uses: Invicton-Labs/terraform-aws-github-oidc/action@main
        with:
          region: ${{ env.AWS_DEFAULT_REGION }}
          account_id: ${{ env.AWS_ACCOUNT_ID }}
          role_name: github-cicd
          session_duration: 21600 # 6 hours, it can take a while to build and deploy everything

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: './builder/requirements.txt'

      - name: Pip Install
        working-directory: ./builder
        run: pip install -r requirements.txt

      - name: Validate
        if: github.event_name != 'push'
        working-directory: ./builder
        run: python ./build.py

      - name: Set up Docker Buildx
        if: github.event_name == 'push'
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        if: github.event_name == 'push'
        uses: docker/setup-qemu-action@v3

      - name: Validate and Build
        if: github.event_name == 'push'
        working-directory: ./builder
        run: python ./build.py true
